html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map {
    height: 100%
}

#popup {
    width: 210px;
    height: 170px;
}

#popupContent td {
    border-bottom: 1px solid #5A5A5A;
}

#popupContent .values {
    padding: 3px 10px;
}