@font-face {
    font-family: "Brandon_med";
    src: url("../static/fonts/Brandon_med.otf");
}

@font-face {
    font-family: "Brandon_light";
    src: url("../static/fonts/Brandon_light.otf");
}

@font-face {
    font-family: "Brandon_blk";
    src: url("../static/fonts/Brandon_blk.otf");
}

.date {
    font-family: "Brandon_med";
    font-size: 12pt;
    padding: 0px 17px;
}

.label {
    font-family: "Brandon_med";
    font-size: 12pt;
}

.weatherInfoScreen {
    background-color: #504b4b;
    color: #ffffff;
    font-family: "Brandon_light";
    font-size: 10pt;
    height: 270px;
    margin: 0px auto;
    opacity: 0.7;
    padding: 50px 30px;
    width: 960px;
    display: none;
}

.weatherInfoScreen_infoBox {
    list-style: none outside none;
    padding: 46px 0px;
}

.weatherInfoScreen_infoBox_item {
    background-color: #686969;
    display: inline-block;
    height: 214px;
    margin: 0px 8px;
    opacity: 0.8;
    padding: 7px 0px;
    vertical-align: top;
    width: 180px;
}

.currentTemperature {
    display: inline-block;
    font-size: 100pt;
}

.current {
    background-color: inherit;
    left: 0px;
    margin: 0px;
    top: 0px;
    width: 350px;
}

.current .date {
    font-size: 17pt;
    margin: -13px 0px;
    padding: 0px;
    width: inherit;
}

.current img {
    display: inline-block;
    margin: -22px 20px;
    padding: 0px 0px 51px;
}

.current > span {
    font-size: 13pt;
    margin: 0px 12px;
    padding: 0px;
}

.footer {
    display: inline-block;
    font-size: 13pt;
    margin: 0px 0px 0px 12px;
    padding: 0px;
}

.footer span {
    font-size: 12pt;
    margin: 0px 4px;
}

.footer img {
    margin: 0px;
    padding: 0px;
}

.footer img:nth-of-type(1) {
    padding: 0px;
}

.weatherInfoScreen_infoBox_item:not(.current) {
    position: relative;
}

.weatherInfoScreen_infoBox_item:not(.current) .footer {
    bottom: 10px;
    font-size: 11pt;
    margin: 0px 10px;
    position: absolute;
}

.weatherInfoScreen_infoBox_item:not(.current) .footer div {
    display: inline-block;
    margin: 0px 6px;
}

.weatherInfoScreen_infoBox_item:not(.current) div:nth-of-type(2) {
    text-align: center;
}

.imageContainer {
    display: table;
    height: 110px;
    width: 100%;
}

.imageContainer div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.weatherInfoScreen_img {
    height: auto;
    width: 100px;
}

.temperature {
    font-size: 13pt;
    text-align: center;
}
