body {
    background-image: url("./img/fondo_web.jpg");
}

.weatherInfoScreen {
    background-color: #504b4b;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 10pt;
    height: 386px;
    margin: 0px auto;
    opacity: 0.7;
    padding: 50px 30px;
    width: 960px;
}

.weatherInfoScreen_infoBox {
    list-style: none outside none;
    padding: 80px 0px;
}

.weatherInfoScreen_infoBox_item {
    background-color: #686969;
    display: inline-block;
    height: 198px;
    margin: 0px 8px;
    opacity: 0.8;
    padding: 7px 0px;
    vertical-align: top;
    width: 180px;
}

.weatherInfoScreen_infoBox_item img {
    padding: 30px 0px 4px 50px;
}

.deg {
    display: inline-block;
    font-size: 100pt;
}

.current {
    background-color: inherit;
    left: 0px;
    margin: 0px;
    top: 0px;
    width: 350px;
}

.current .date {
    font-size: 15pt;
    margin: 0px;
    padding: 0px;
    width: inherit;
}

.current img {
    display: inline-block;
    margin: -22px 20px;
    padding: 0px 0px 51px;
}

.current > span {
    font-size: 13pt;
    margin: 0px 12px;
    padding: 0px;
}

.footer {
    display: inline-block;
    font-size: 13pt;
    margin: 0px 0px 0px 12px;
    padding: 0px;
}

.footer span {
    margin: 0px 4px;
}

.footer img {
    margin: 0px;
    padding: 0px;
}

.footer img:nth-of-type(1) {
    padding: 0px;
}

.weatherInfoScreen_infoBox_item:not(.current) {
    position: relative;
}

.weatherInfoScreen_infoBox_item:not(.current) .footer {
    bottom: 20px;
    font-size: 11pt;
    margin: 0px 10px;
    position: absolute;
}

.weatherInfoScreen_infoBox_item:not(.current) .footer div {
    display: inline-block;
    margin: 0px 6px;
}

.weatherInfoScreen_infoBox_item:not(.current) div:nth-of-type(2) {
    text-align: center;
}
